.dropdown {
    background-color: black;
    color: white;
    position: absolute;  /* o fixed si quieres que quede pegado a la ventana */
    top: 50px;
    left: 20px;
    z-index: 1050;} /* asegúrate que esté por encima de otros elementos */
    .menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Asegura que el menú esté sobre las imágenes */
}

.dropdown {
    text-align: center;
}

.form{display: flex;
justify-content: center;
align-items: center;}

.form-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8); /* blanco semi-transparente */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 400px;
  width: 100%;
}
.carousel {
  position: relative; /* importante para que el formulario se posicione relativo a esto */
}
.footer{text-align: center;
background-color: black;
 padding: 1rem;
  margin: 0;
p{color: aliceblue;}}

body, html {
  margin: 0;
  padding: 0;
}
